<form action="/comedians" method="post">
  <div class="form-group">
    <label for="formGroupInput">Comedian Name</label>
    <input type="text" class="form-control" id="formGroupInput" name="comedian[name]" placeholder="Ex: Dave Chappelle">
  </div>
  <div class="form-group">
    <label for="formGroupInput2">Comedian Age</label>
    <input type="text" class="form-control" id="formGroupInput2" name="comedian[age]" placeholder="Ex: 50">
  </div>
  <div class="form-group">
    <label for="formGroupInput2">Comedian City</label>
    <input type="text" class="form-control" id="formGroupInput2" name="comedian[city]" placeholder="Ex: New York, New York">
  </div>
  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>