/* Stats Container */

.stats-title {
  display: inline;
  font-size:32px;
  font-weight:bold;
  vertical-align: 14px;
  color:#191919;
  -webkit-font-smoothing: antialiased;
}

.stats-info {
  display: inline;
  font-weight: normal;
  vertical-align: -2px;
  font-size: 35px;
  color: #888;
  padding:5px 0;
}

marquee {
  width: 500px;
  font-size: 33px;
  color: #888;
}

.stats {
background:#181818;
color:#FFF;
position: absolute;
top: -250px;
left: 0;
width: 100%;
height: 85px;
padding: 20px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
  
}

.stats h1 {
  color:#FFF;
}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  background: #222;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #FFF;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 20px 50px;
  transition: all 500ms ease;
  right: -24px;
  z-index: 1000;
  top: 3px;
}

#toggle + label:after {
  content:"Stats Open" 
}

.gradient-background {
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding:5em 3em;
}

#toggle:checked ~ .stats {
  top: 0;
}

#toggle:checked ~ .gradient-background {
  margin-top: 250px;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Stats Close"
}



/* Main Carousel */

.carousel {
  position: absolute;
  left: 50%;
  margin-left: -575px;
  top: 18%;
  background: #222;
  width: 1150px;
  height: 67%;
  overflow: hidden;
  -webkit-box-shadow: -9px 11px 15px 0px #2525258a;
  -moz-box-shadow: -9px 11px 15px 0px #2525258a;
  box-shadow: -9px 11px 15px 0px #2525258a;
}

.carousel-control-next, 
.carousel-control-prev {
  width: 55px;
}

.title {
  z-index: 1;
  position: absolute;
  margin: 35px auto;
  top: 0;
  left: 18%;
  font-size: 6rem;
}

.profile-container {
  position: relative;
}

.profile-pic {
  opacity: .4;
}

.fade-overlay {
  color: #f1f1f1;
  z-index: 1;
  position: absolute;
  height: 100%
}

.comic-name {
  z-index: 2;
  position: absolute;
  margin: 35px auto;
  top: 0;
  left: 4%;
  font-size: 6rem;
  color: #fff;
}

.comic-info {
  z-index: 2;
  position: absolute;
  top: 9rem;
  left: 4.5%;
  color: #fff;
}

/* Specials Container */

.specials-container {
  position: absolute;
  display: flex;
  z-index: 2;
  top: 17rem;
  left: 30rem;
  overflow: scroll;
}

.specials-main-title {
  position: absolute;
  left: 30rem;
  top: 14.5rem;
  z-index: 2;
}

.special-container-single {
  position: relative;
  width: 25%;
  height: 240px;
  overflow: hidden;
  margin-right: 2rem;
}
.special-container-single img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #222222;
}

.special-container-single:hover .overlay {
  opacity: .9;
}

.special-title {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Background Gradient */

.gradient-background {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}


